<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.companyname.ehw_m" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
	<uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
	<!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
	<uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
	<!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
	<uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
	<queries>
		<package android:name="com.bixolon.sample" />
	</queries>
	<!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="31" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="31" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<application tools:replace="android:icon,android:label" android:usesCleartextTraffic="true" android:theme="@style/MainTheme" android:requestLegacyExternalStorage="true" android:label="EHM Mobile">
		<provider android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}.provider" android:exported="false" android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths" />
		</provider>
	</application>
</manifest>