<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FiscalisationServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.200.60.75:4448/FiscalisationService.asmx"
                binding="basicHttpBinding" bindingConfiguration="FiscalisationServiceSoap"
                contract="ServiceReference1.FiscalisationServiceSoap" name="FiscalisationServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>